body{
    background:#0b1220;
    font-family:Segoe UI;
    color:white;
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* Center everything */
.container{
    width:500px;
    text-align:center;
}

/* Big title */
h1{
    position:absolute;
    top:40px;
    width:100%;
    text-align:center;
    font-size:42px;
    font-weight:900;
}

/* Bars */
.bar{
    padding:16px;
    border-radius:10px;
    margin:12px 0;
    font-size:18px;
    font-weight:bold;
}

.green{ background:#198754 }
.yellow{ background:#ffc107; color:black }
.red{ background:#dc3545 }

/* Suggestion card */
.suggestion{
    background:#16213e;
    padding:20px;
    border-radius:10px;
    margin-top:25px;
}

/* Button */
button{
    margin-top:25px;
    padding:14px 28px;
    background:#00d4ff;
    border:none;
    font-weight:700;
    border-radius:8px;
    cursor:pointer;
}